
<li class="nav-label">Features</li>
<li><a href="#"><i class="ti-game"></i>Home</a></li>
<li><a href="#"><i class="ti-agenda"></i>TODO</a></li>
<li><a href="#"><i class="ti-cup"></i>Insignias</a></li>
<li><a href="#"><i class="ti-crown"></i>Tabla de lideres</a></li>
<li><a href="#"><i class="ti-pencil"></i>Aprende</a></li>

