{% extends 'base.html' %}

{% block contenido %}
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-ruler-pencil f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">4</h2>
                        <p class="m-b-0">Tareas pendientes</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-pink p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-flag-alt f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">2</h2>
                        <p class="m-b-0">Issues pendientes</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-success p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-check-box f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">4</h2>
                        <p class="m-b-0">HU por testear</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-danger p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-eye f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">4</h2>
                        <p class="m-b-0">Issues por revisar</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-6">
            <h5 class="m-t-30">Progreso del proyecto<span class="pull-right">85%</span></h5>
            <div class="progress ">
                <div class="progress-bar bg-info wow animated progress-animated" style="width: 85%; height:6px;"
                     role="progressbar"><span class="sr-only">60% Complete</span></div>
            </div>

        </div>

        <div class="col-md-6">
            <h5 class="m-t-30">Progreso del sprint<span class="pull-right">85%</span></h5>
            <div class="progress ">
                <div class="progress-bar bg-warning wow animated progress-animated" style="width: 85%; height:6px;"
                     role="progressbar"><span class="sr-only">60% Complete</span></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-title">
                    <h4>Tareas pendientes</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Kolor Tea Shirt For Man</td>
                                <td><span class="badge badge-primary">Sale</span></td>
                                <td>January 22</td>
                                <td class="color-primary">$21.56</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Kolor Tea Shirt For Women</td>
                                <td><span class="badge badge-success">Tax</span></td>
                                <td>January 30</td>
                                <td class="color-success">$55.32</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Blue Backpack For Baby</td>
                                <td><span class="badge badge-danger">Extended</span></td>
                                <td>January 25</td>
                                <td class="color-danger">$14.85</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    <div class="col-md-6">
            <div class="card">
                <div class="card-title">
                    <h4>Issues pendientes</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Kolor Tea Shirt For Man</td>
                                <td><span class="badge badge-primary">Sale</span></td>
                                <td>January 22</td>
                                <td class="color-primary">$21.56</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Kolor Tea Shirt For Women</td>
                                <td><span class="badge badge-success">Tax</span></td>
                                <td>January 30</td>
                                <td class="color-success">$55.32</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Blue Backpack For Baby</td>
                                <td><span class="badge badge-danger">Extended</span></td>
                                <td>January 25</td>
                                <td class="color-danger">$14.85</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock contenido %}